name: Pre-Release

on:
  workflow_dispatch:

jobs:
  version:
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Create Version Pull Request
        uses: changesets/action@v1
        with:
          version: pnpm changeset version
          commit: 'chore(release): apply changesets versions'
          title: 'chore(release): apply changesets versions'
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
